<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeeSSH - Devs</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <%- include('./includes/bootstrap.ejs'); %>
</head>
<body>
    <%- include('./includes/header.ejs'); %>
      <section class="main">
        <div class="place"></div>
        <div class="place"></div>
        <div class="container marketing">
          <div class="center">
            <div class="col-lg-4">
              <img src="/assets/img/sysfaker.png" height="140" width="140" style="border-radius: 100%;">
              <h2 class="fw-normal" style="margin-top: 10px;">SYSFAKER</h2>
              <p>Founder, Developer</p>
            </div>
            <div class="place"></div>
            <div class="col-lg-4">
              <img src="/assets/img/satsuya.png" height="140" width="140" style="border-radius: 100%;">
              <h2 class="fw-normal" style="margin-top: 10px;">Satsuya</h2>
              <p>Founder, Developer</p>
            </div>
          </div>
        </div>
      </section>
</body>
</html>