<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeeSSH - Features</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <%- include('./includes/trailwind.ejs'); %>
    <%- include('./includes/background.ejs'); %>

</head>
<body class="leading-normal tracking-normal text-indigo-400 m-6 bg-cover bg-fixed">
    <div class="h-full">
        <%- include('./includes/header.ejs'); %>
        <h1>Coming Soon...</h1>
    </div>
</body>
</html>