<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeeSSH - Terminal</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <%- include('./includes/bootstrap.ejs'); %>
</head>
<body>
    <%- include('./includes/header.ejs'); %>
      <section class="main">
        <div class="place"></div>
        <div class="center">
            <p style="text-align: center; font-family: 'Orbitron', sans-serif; font-size: 30px;">WELCOME TO BEE-SSH</p>
            <img src="/assets/img/beessh_small.png" style="border-radius: 10px;">
        </div>
      </section>
</body>
</html>