<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BeeSSH - Reset Password</title>
    <script src="https://js.hcaptcha.com/1/api.js?hl=fr" async defer></script>
    <%- include('./includes/trailwind.ejs'); %>
    <%- include('./includes/background.ejs'); %>

</head>
<body class="leading-normal tracking-normal text-white m-6 bg-cover bg-fixed">
<div class="h-full">
    <%- include ("./includes/header"); %>
    <div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full space-y-8">
            <div>
                <img class="mx-auto h-20 w-auto" src="/img/logo.svg" alt="Workflow">
                <h2 class="mt-6 text-center text-3xl tracking-tight font-bold text-yellow-300">Reset your password</h2>
                <p class="mt-2 text-center text-sm text-white">
                    Or
                    <a href="/users/login" class="font-medium text-white hover:text-yellow-300">login</a>
                </p>
            </div>
            <%- include ("./partials/messages"); %>
            <form class="mt-8 space-y-6" action="/users/requestreset" method="POST">
                <div class="rounded-md shadow-sm -space-y-px">
                    <div>
                        <label for="email-address" class="sr-only">Email address</label>
                        <input id="email-address" name="email" type="email" autocomplete="email" required
                               class="appearance-none rounded-none relative block w-full px-3 py-2 border border-white-300
                     placeholder-white-500 text-yellow-300 rounded-md focus:outline-none focus:ring-yellow-300
                     focus:border-yellow-300 focus:z-10 sm:text-sm" placeholder="Email address">
                    </div>
                </div>
                <div class="h-captcha" data-sitekey="3ea12c5e-7584-4372-86fd-819b4239d6f0" data-theme="dark"></div>
                <div>
                    <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium
            rounded-md text-black bg-yellow-300 hover:bg-transparent duration-300 ease-in-out hover:text-white duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-transparent">
                        Request reset link
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>
